<!DOCTYPE html>
<html>
  <head>
    <title>
      NSF REU
    </title>

    <link rel="stylesheet" href="static/style.css">

  <head/>
  <body>
    
    <p>
      California Wildfire 
      <br></br>
      Risk Prediction & Visualization 
    </p>
    <img id = "nsflogo" src = "https://nsf-ca-wildfire--davidc63.repl.co/static/nsflogo.png" width = 150 />
    <a href = "https://w2.csun.edu">
      <img id = "csunlogo" src = "static/csunlogo.png" width = 200 >
    </a>
    <div id = "container">
      <h2>
        About
      </h2>
      <p>
        Information describing high level overview of project. Introduce conceps and such.
      </p>
      <img id = "caevi" src = "https://nsf-ca-wildfire--davidc63.repl.co/static/CAEVI.png" width = 630 />
      <p>
        More information
      </p>
    </div>
  </body>
</html>